<form action="create" method="POST">
    <h1>Create Page</h1>
    <div class="input-field">
        <input type="text" name="title">
        <label>Todo title</label>
    </div>
    <button type="submit" class="btn waves-effect waves-light">CREATE</button>
</form>

